
#title{
  background-color: #8fdbf2;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

h2 {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p{
  color: #8f8f8f;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.0rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.navbar-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
  width: 60%;
  transform: rotate(20deg);
}

/* Features Section */
#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8712;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #8fdbf2;
}

/* Testimonials Section */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #00bcd4;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 10px;
}

#press {
  background-color: #00bcd4;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}